$background: #fafafa;

$success: hsla(110, 90%, 50%, 1);
$warn: hsla(40, 90%, 50%, 1);
$error: hsla(0, 90%, 50%, 1);
$success-muted: hsla(110, 70%, 80%, 1);
$warn-muted: hsla(40, 70%, 80%, 1);
$error-muted: hsla(0, 70%, 80%, 1);

$color-component: hsl(170, 65%, 45%);
$color-special-function: hsl(193, 65%, 52%);
$color-function: hsl(225, 65%, 68%);
