<div class="content cols" appDropTarget (fileDropped)="onFileDropped($event)">
  <mat-progress-bar
    *ngIf="progress !== undefined"
    class="progress-bar"
    [value]="progress"
  >
  </mat-progress-bar>

  <!-- Left pane -->
  <rsz-layout class="row left" [directions]="['right']" [rFlex]="true">
    <div class="cell">
      <div class="cell-inner">
        <app-file-tree></app-file-tree>
      </div>
    </div>
  </rsz-layout>

  <!-- Center pane -->
  <rsz-layout
    class="row main"
    [directions]="['left', 'right']"
    [rFlex]="false"
    [class.full-screen]="(settingsService.settings$ | async).fullScreen"
  >
    <div class="cell main">
      <app-graph [selectedNode]="selectedNode"></app-graph>
    </div>
  </rsz-layout>

  <!-- Right pane -->
  <rsz-layout class="row right" [directions]="['left']" [rFlex]="true">
    <!-- Code Quality pane -->
    <rsz-layout
      class="cell code-quality"
      [directions]="['bottom']"
      [rFlex]="true"
    >
      <div class="cell-inner">
        <app-code-quality [selectedNode]="selectedNode"></app-code-quality>
      </div>
    </rsz-layout>

    <!-- Source Code pane-->
    <rsz-layout class="cell" [directions]="['none']" [rFlex]="false">
      <div class="cell-inner">
        <app-source-code [code]="selectedNode?.code"></app-source-code>
      </div>
    </rsz-layout>
  </rsz-layout>
</div>
