<div class="container" appDropTarget (fileDropped)="onFileDropped($event)">
  <mat-progress-bar *ngIf="progress !== undefined" class="progress-bar" [value]="progress">
  </mat-progress-bar>

  <as-split
    unit="pixel"
    direction="horizontal"
    *ngIf="settingsService.settings$ | async as settings"
    [gutterSize]="gutterSize"
  >
    <as-split-area size="275" order="1" [visible]="!settings.fullScreen">
      <app-file-tree [selectedNodes]="selectedNodes"></app-file-tree>
    </as-split-area>
    <as-split-area size="*" order="2">
      <app-graph [selectedNodes]="selectedNodes"></app-graph>
    </as-split-area>
    <as-split-area size="575" order="3" [visible]="!settings.fullScreen">
      <as-split unit="percent" direction="vertical" [gutterSize]="gutterSize">
        <as-split-area size="30">
          <app-code-quality [selectedNode]="selectedNodes && selectedNodes[0]"></app-code-quality>
        </as-split-area>
        <as-split-area size="70">
          <app-source-code
            *ngIf="selectedNodes && selectedNodes.length === 1"
            [code]="selectedNodes[0].code"
            [selection]="{ start: selectedNodes[0].lineStart, end: selectedNodes[0].lineEnd }"
          ></app-source-code>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
