<h1 mat-dialog-title>Settings</h1>
<div mat-dialog-content class="settings-container">
  <form [formGroup]="settingsForm">
    <mat-slide-toggle labelPosition="before" formControlName="textCenter"
      >Text-center layout</mat-slide-toggle
    >
    <mat-slide-toggle labelPosition="before" formControlName="text"
      >Show text label</mat-slide-toggle
    >
    <mat-slide-toggle labelPosition="before" formControlName="fade"
      >Fade out non-adjacent nodes</mat-slide-toggle
    >
    <mat-slide-toggle labelPosition="before" formControlName="fullScreen"
      >Fullscreen graph</mat-slide-toggle
    >
    <mat-slide-toggle labelPosition="before" formControlName="colaLayout"
      >Flow layout</mat-slide-toggle
    >
    <mat-slide-toggle labelPosition="before" formControlName="nodeSizesBasedOnMetrics"
      >Node sizes based on metrics</mat-slide-toggle
    >
    <mat-slide-toggle labelPosition="before" formControlName="autoZoom"
      >Auto zoom to fit after first simulation end</mat-slide-toggle
    >
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="settingsForm.value" cdkFocusInitial>
    Save
  </button>
</div>
