<h1 mat-dialog-title>Settings</h1>
<div mat-dialog-content class="settings-container">
  <form [formGroup]="settingsForm">
    <mat-slide-toggle labelPosition="before" formControlName="textCenter"
      >Text-center Layout</mat-slide-toggle
    >
    <mat-slide-toggle labelPosition="before" formControlName="text"
      >Show text label</mat-slide-toggle
    >
    <mat-slide-toggle labelPosition="before" formControlName="fade"
      >Fade out non-adjacent nodes</mat-slide-toggle
    >
    <mat-slide-toggle labelPosition="before" formControlName="fullScreen"
      >Fullscreen</mat-slide-toggle
    >
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="settingsForm.value" cdkFocusInitial>
    Ok
  </button>
</div>
