@import 'src/app/styles/variables';

.quality-metric {
  position: relative;
  height: $metric-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  cursor: default;
}

.name,
.value {
  font-size: 13px;
  z-index: 1;
}

.value {
  font-weight: 500;
  color: $text;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: 1px solid $metric-border-color;
}

:host::ng-deep {
  .mat-progress-bar-fill::after {
    background-color: $success-muted;
  }

  .warn .mat-progress-bar-fill::after {
    background-color: $warn-muted;
  }

  .error .mat-progress-bar-fill::after {
    background-color: $error-muted;
  }

  .mat-progress-bar-buffer {
    background-color: white;
  }
}
