@import 'src/app/styles/variables';

:host.warn .icon {
  color: $warn;
}

:host.error .icon {
  color: $error;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.icon {
  font-family: 'Material Icons', monospace;
  font-size: 20px;
  margin-right: 8px;
  cursor: default;
  user-select: none;
}

.description {
  font-size: 14px;
  cursor: default;
}
