@import 'src/app/styles/variables';

:host.warn .icon {
  color: $warn;
}

:host.error .icon {
  color: $error;
}

.container {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.icon {
  font-family: 'Material Icons', monospace;
  font-size: 20px;
  margin-right: 8px;
}
