<div id="d3-root" #d3Root></div>
<div class="action-buttons left">
  <button
    *ngIf="id"
    mat-icon-button
    aria-label="Back to app graph"
    (click)="routeBack()"
    matTooltip="Back to app graph"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="action-buttons right">
  <button
    mat-button
    (click)="zoomToFit(null, 1)"
    matTooltip="Zoom to 100%"
    aria-label="Zoom to 100%"
  >
    {{ zoomLevel || 100 }}%
  </button>
  <button mat-icon-button aria-label="Zoom to fit" (click)="zoomToFit()" matTooltip="Zoom to fit">
    <mat-icon>all_out</mat-icon>
  </button>
  <button
    mat-icon-button
    aria-label="Toggle fullscreen"
    (click)="settingsService.setSettings({ fullScreen: !settings.fullScreen })"
    [matTooltip]="settings.fullScreen ? 'Exit fullscreen' : 'Enter fullscreen'"
  >
    <mat-icon>{{ settings.fullScreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
  </button>
</div>
