<div id="d3-root" #d3Root>
  <svg style="width: 100%; height: 100%; user-select: none; display: block; position: absolute;">
    <defs>
      <marker
        id="arrowhead"
        viewBox="-0 -5 10 10"
        refX="9"
        refY="0"
        orient="auto"
        markerWidth="8"
        markerHeight="8"
      >
        <path d="M 0,-5 L 10 ,0 L 0,5" fill="#999" stroke="none"></path>
      </marker>
      <pattern
        id="diagonalHatch"
        width="5"
        height="5"
        patternTransform="rotate(45 0 0)"
        patternUnits="userSpaceOnUse"
      >
        <line x1="0" y1="0" x2="0" y2="5" style="stroke:black; stroke-width:1; opacity: 0.45" />
      </pattern>
    </defs>
    <g id="zoomGroup"></g>
  </svg>
</div>
<div class="action-buttons left">
  <button
    *ngIf="id"
    mat-icon-button
    aria-label="Back to app graph"
    (click)="routeBack()"
    matTooltip="Back to app graph"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="action-buttons right">
  <button
    mat-button
    (click)="zoomToFit(null, 1)"
    matTooltip="Zoom to 100%"
    aria-label="Zoom to 100%"
  >
    {{ zoomLevel || 100 }}%
  </button>
  <button mat-icon-button aria-label="Zoom to fit" (click)="zoomToFit()" matTooltip="Zoom to fit">
    <mat-icon>all_out</mat-icon>
  </button>
  <button
    mat-icon-button
    aria-label="Toggle fullscreen"
    (click)="settingsService.setSettings({ fullScreen: !settings.fullScreen })"
    [matTooltip]="settings.fullScreen ? 'Exit fullscreen' : 'Enter fullscreen'"
  >
    <mat-icon>{{ settings.fullScreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
  </button>
</div>
