<div id="d3-root" #d3Root>
  <svg style="width: 100%; height: 100%; user-select: none; display: block; position: absolute;">
    <defs>
      <marker
        id="arrowhead"
        viewBox="-0 -5 10 10"
        refX="9"
        refY="0"
        orient="auto"
        markerWidth="8"
        markerHeight="8"
      >
        <path d="M 0,-5 L 10 ,0 L 0,5" fill="#999" stroke="none"></path>
      </marker>
      <pattern
        id="diagonalHatch"
        width="5"
        height="5"
        patternTransform="rotate(45 0 0)"
        patternUnits="userSpaceOnUse"
      >
        <line x1="0" y1="0" x2="0" y2="5" />
      </pattern>
    </defs>
    <g id="zoomGroup"></g>
  </svg>
  <!-- Legend -->
  <svg
    id="legend"
    width="196"
    [attr.height]="id ? 270 : 246"
    [attr.viewBox]="id ? '-16 -14 196 270' : '-16 -14 196 246'"
  >
    <text class="legend-header" y="16">Legend ({{ id ? 'Component' : 'App' }})</text>
    <!-- Function Component-->
    <g class="legend-entry" style="transform: translateY(32px)">
      <circle class="circle-node circle-overlay component" r="12" cx="13" cy="12"></circle>
      <text x="33" y="12" class="description">
        Function Component
      </text>
    </g>
    <!-- Class Component-->
    <g class="legend-entry" style="transform: translateY(64px)">
      <circle class="circle-node component" r="12" cx="13" cy="12"></circle>
      <circle
        class="circle-overlay component"
        r="12"
        cx="13"
        cy="12"
        fill="url(#diagonalHatch)"
      ></circle>
      <text x="33" y="12" class="description">
        Class Component
      </text>
    </g>
    <!-- Inner React Function -->
    <g class="legend-entry" [style.transform]="id ? 'translateY(96px)' : 'translateY(92px)'">
      <circle
        class="function innerFunction special"
        [attr.r]="id ? 12 : 5"
        cx="13"
        cy="12"
        [attr.opacity]="id ? 1 : 0.5"
      ></circle>
      <text x="33" y="12" class="description">
        Inner React Function
      </text>
    </g>
    <!-- Inner React JSX Function -->
    <g class="legend-entry" [style.transform]="id ? 'translateY(128px)' : 'translateY(112px)'">
      <circle
        class="circle-node circle-overlay innerFunction special jsx"
        [attr.r]="id ? 12 : 5"
        cx="13"
        cy="12"
        [attr.opacity]="id ? 1 : 0.5"
      ></circle>
      <circle
        *ngIf="id"
        class="inner-circle innerFunction special"
        r="9"
        cx="13"
        cy="12"
        fill="none"
      ></circle>
      <text x="33" y="12" class="description">
        Inner React JSX Function
      </text>
    </g>
    <!-- Inner Function -->
    <g class="legend-entry" [style.transform]="id ? 'translateY(160px)' : 'translateY(136px)'">
      <circle
        class="function innerFunction"
        [attr.r]="id ? 12 : 5"
        cx="13"
        cy="12"
        [attr.opacity]="id ? 1 : 0.5"
      ></circle>
      <text x="33" y="12" class="description">
        Inner Function
      </text>
    </g>
    <!-- Inner JSX Function -->
    <g class="legend-entry" [style.transform]="id ? 'translateY(192px)' : 'translateY(156px)'">
      <circle
        class="circle-node circle-overlay innerFunction jsx"
        [attr.r]="id ? 12 : 5"
        cx="13"
        cy="12"
        [attr.opacity]="id ? 1 : 0.5"
      ></circle>
      <circle
        *ngIf="id"
        class="inner-circle innerFunction"
        r="9"
        cx="13"
        cy="12"
        fill="none"
      ></circle>
      <text x="33" y="12" class="description">
        Inner JSX Function
      </text>
    </g>
    <!-- Composition/Function Use -->
    <g class="legend-entry" [style.transform]="id ? 'translateY(224px)' : 'translateY(180px)'">
      <line
        stroke-width="0.8"
        stroke="#999"
        stroke-opacity="0.6"
        marker-end="url(#arrowhead)"
        x1="1"
        y1="12"
        x2="25"
        y2="12"
      ></line>
      <text x="33" y="12" class="description">
        {{ id ? 'Function Use' : 'Composition' }}
      </text>
    </g>
    <!-- Inheritance -->
    <g *ngIf="!id" class="legend-entry" style="transform: translateY(200px)">
      <line
        stroke-width="0.8"
        stroke="#999"
        stroke-opacity="0.6"
        marker-end="url(#arrowhead)"
        x1="1"
        y1="12"
        x2="25"
        y2="12"
        stroke-dasharray="4 2"
      ></line>
      <text x="33" y="12" class="description">
        Inheritance
      </text>
    </g>
  </svg>
</div>
<div class="action-buttons left">
  <button
    *ngIf="id"
    mat-icon-button
    aria-label="Back to app graph"
    (click)="routeBack()"
    matTooltip="Back to app graph"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="action-buttons right">
  <mat-form-field>
    <mat-label>Node size metric</mat-label>
    <mat-select [value]="sizeMetric" (selectionChange)="onMetricSelectionChange($event)">
      <mat-option *ngFor="let entry of qualityMetricsEntries" [value]="entry[0]">
        {{ entry[1].name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-button
    (click)="zoomToFit(null, 1)"
    matTooltip="Zoom to 100%"
    aria-label="Zoom to 100%"
  >
    {{ zoomLevel || 100 }}%
  </button>
  <button mat-icon-button aria-label="Zoom to fit" (click)="zoomToFit()" matTooltip="Zoom to fit">
    <mat-icon>all_out</mat-icon>
  </button>
  <button
    mat-icon-button
    aria-label="Toggle fullscreen"
    (click)="settingsService.setSettings({ fullScreen: !settings.fullScreen })"
    [matTooltip]="settings.fullScreen ? 'Exit fullscreen' : 'Enter fullscreen'"
  >
    <mat-icon>{{ settings.fullScreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
  </button>
</div>
