//::ng-deep .row.main [rszdraghandle] {
//  display: none;
//}
//
//.row.main.full-screen {
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  z-index: 2;
//}

//.cell.main {
//  background-color: #fafafa;
//  position: relative;
//}

.action-buttons {
  position: absolute;
  top: 8px;
  color: #808080;

  &.left {
    left: 8px;
  }

  &.right {
    right: 8px;
  }
}

#d3-root {
  height: 100%;
  position: relative;
}
