:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.row.left.resizable {
  flex: 0 0 280px;
}

.row.right.resizable {
  flex: 0 0 360px;
}

.cell.main {
  background-color: #fafafa;

  &.full-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}

.cell:not(.main) {
  padding: 8px;
}

#d3-root {
  height: 100%;
  position: relative;

  &.is-dragging-over::before {
    content: 'Drop file here';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.55);
    pointer-events: none;
    font-size: 32px;
    color: white;
  }
}
