@import 'src/app/styles/variables';

:host {
  display: block;
  padding: 8px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.cell-header {
  font-weight: 500;
}

.score {
  color: $text-light-grey;
  text-align: right;

  .score-number {
    color: $success;
    font-size: 20px;
    font-weight: 600;

    &.warn {
      color: $warn;
    }

    &.error {
      color: $error;
    }
  }
}

app-quality-metric {
  display: block;
  margin-bottom: 8px;
}

.icon-descriptions {
  margin-top: 16px;
}
