:host {
  display: block;
  padding: 8px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.cell-header {
  font-weight: 500;
}

.score {
  color: #989898;

  .score-number {
    color: hsla(120, 90%, 50%, 1);
    font-size: 20px;
    font-weight: 600;

    &.warn {
      color: hsla(50, 90%, 50%, 1);
    }

    &.error {
      color: hsla(0, 90%, 50%, 1);
    }
  }
}

app-quality-metric {
  display: block;
  margin-bottom: 8px;
}
