<div class="header-container">
  <h2 class="mat-h3 cell-header">
    Code Quality
    <ng-container *ngIf="report">
      <span *ngIf="selectedNode?.report?.aggregate" class="mat-h4">
        {{ selectedNode.label || selectedNode.id }} (aggregate)</span
      >
      <span
        *ngIf="selectedNode && !selectedNode.report?.aggregate"
        class="mat-h4"
      >
        {{ selectedNode.label || selectedNode.id }}</span
      >
    </ng-container>
  </h2>
  <h3 *ngIf="selectedNode?.report?.maintainability" class="score mat-h4">
    Score
    <span
      class="score-number mat-h3"
      [class.warn]="
        selectedNode.report.maintainability < 125 &&
        selectedNode.report.maintainability >= 80
      "
      [class.error]="selectedNode.report.maintainability < 80"
      >{{ selectedNode.report.maintainability | number: '1.0-0' }}</span
    >
  </h3>
</div>

<div *ngIf="selectedNode" class="content-inner">
  <ng-container *ngIf="report">
    <app-quality-metric
      name="Lines of Code"
      [value]="report.sloc.physical"
      [threshold]="selectedNode.type === 'component' ? 200 : 40"
    ></app-quality-metric>

    <app-quality-metric
      name="Lines of Code (logical)"
      [value]="report.sloc.logical"
      [threshold]="selectedNode.type === 'component' ? 200 : 40"
    ></app-quality-metric>

    <app-quality-metric
      name="Cyclomatic Complexity"
      [value]="report.cyclomatic"
      [threshold]="selectedNode.type === 'component' ? 20 : 5"
    ></app-quality-metric>

    <app-quality-metric
      name="Cyclomatic Density"
      [value]="report.cyclomaticDensity"
      [threshold]="100"
    ></app-quality-metric>

    <app-quality-metric
      name="Halstead Difficulty"
      [value]="report.halstead.difficulty"
      [threshold]="selectedNode.type === 'component' ? 30 : 8"
    ></app-quality-metric>
  </ng-container>
</div>
