<div class="header-container">
  <h2 class="mat-h3 cell-header">
    Code Quality
    <ng-container *ngIf="report">
      <span *ngIf="selectedNode?.report?.aggregate" class="mat-h4">
        {{ selectedNode.label || selectedNode.id }} (aggregate)</span
      >
      <span *ngIf="selectedNode && !selectedNode.report?.aggregate" class="mat-h4">
        {{ selectedNode.label || selectedNode.id }}</span
      >
    </ng-container>
  </h2>
  <h3 *ngIf="selectedNode?.report?.maintainability" class="score mat-h4">
    Score
    <span
      class="score-number mat-h3"
      [class.warn]="
        selectedNode.report.maintainability < 125 && selectedNode.report.maintainability >= 80
      "
      [class.error]="selectedNode.report.maintainability < 80"
      >{{ selectedNode.report.maintainability | number: '1.0-0' }}</span
    >
  </h3>
</div>

<div *ngIf="selectedNode" class="content-inner">
  <ng-container *ngFor="let id of Object.keys(qualityMetrics)">
    <app-quality-metric
      [threshold]="
        qualityMetrics[id].thresholds[
          selectedNode.type + '.' + (selectedNode.label || selectedNode.id)
        ] !== undefined
          ? qualityMetrics[id].thresholds[
              selectedNode.type + '.' + (selectedNode.label || selectedNode.id)
            ]
          : qualityMetrics[id].thresholds[selectedNode.type]
      "
      [name]="qualityMetrics[id].name"
      [value]="report | nestedStringAccessor: id"
      [description]="qualityMetrics[id].description"
    ></app-quality-metric>
  </ng-container>
  <app-icon-description
    *ngFor="let icon of selectedNode.icons"
    [icon]="icon.icon"
    [class]="icon.class"
    [description]="icon.description"
  ></app-icon-description>
</div>
