@import 'src/app/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;

  .title {
    cursor: pointer;
    color: $text-light;
    text-decoration: none;

    &:focus-visible {
      outline: none;
      text-decoration: underline;
    }
  }
}

.content {
  flex: 1;
  position: relative;
  overflow: hidden;
}
