@import 'src/app/styles/variables';

mat-list-item {
  user-select: none;

  &.selected {
    background-color: $background-selected;

    &:hover {
      background-color: $background-selected-hover;
    }
  }
}

:host::ng-deep {
  .mat-tree-node {
    min-height: 32px;
  }

  .mat-list-base[dense] .mat-list-item.mat-list-item-with-avatar,
  .mat-list-base[dense] .mat-list-option.mat-list-item-with-avatar {
    height: 32px;
  }

  .mat-list-base[dense] {
    $padding-left: 4px;
    .mat-list-item {
      &.mat-list-item-with-avatar .mat-list-item-content .mat-list-text,
      &.mat-list-option .mat-list-item-content .mat-list-text {
        padding-left: $padding-left;
      }
    }
    .mat-list-option {
      &.mat-list-item-with-avatar .mat-list-item-content .mat-list-text,
      &.mat-list-option .mat-list-item-content .mat-list-text {
        padding-left: $padding-left;
      }
    }
  }

  .mat-list-base[dense] .mat-list-item {
    font-size: 13px;
  }

  .mat-list-base .mat-list-item .mat-icon {
    color: $file-tree-icon-color;
  }
}
