<mat-action-list dense>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node">
      <mat-list-item
        disableRipple
        matRipple
        matTreeNodePadding
        [matTreeNodePaddingIndent]="28"
        [attr.aria-label]="'toggle ' + node.name"
        (click)="dataService.selectFile(node)"
      >
        <mat-icon matListIcon>{{
          node.type === 'folder' ? 'folder' : node.type === 'file' && 'code'
        }}</mat-icon>
        <h3 matLine>{{ node.name }}</h3>
      </mat-list-item>
    </mat-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild">
      <mat-list-item
        disableRipple
        matRipple
        matTreeNodeToggle
        matTreeNodePadding
        [matTreeNodePaddingIndent]="28"
        [attr.aria-label]="'toggle ' + node.name"
      >
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>{{ node.name }}</h3>
      </mat-list-item>
    </mat-tree-node>
  </mat-tree>
</mat-action-list>
